@font-face {
    font-family: 'Gotham Pro Light';
    src: url('../css/fonts/GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Medium';
    src: url('../css/fonts/GothamPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../css/fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background-color: #292929;
    color: white;
    font-family: 'Gotham Pro Regular', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */

.header {
    padding-top: 50px;
}

.header-description {
    font-family: 'Gotham Pro Light', sans-serif;
    letter-spacing: 0.12px;
    font-size: 12px;
}

.text-color-red {
    font-family: 'Gotham Pro Medium', sans-serif;
    color: #ff3469;
}

.header-phone {
    font-family: 'Gotham Pro Medium', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: right;
    display: block;
}

.header-info {
    font-size: 12px;
    margin-top: 7px;
    display: block;
    text-align: right;
}

.callback {
    color: #ff3469;
    font-size: 16px;
    text-align: right;
    display: block;
    margin-top: 16px;
}

/* hero */

.hero {
    text-align: center;
    padding: 100px 0 77px;
    border-bottom: 1px solid #4c4c4c;
}

.hero-title {
    font-family: 'Gotham Pro Medium', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 34px;
    letter-spacing: 0.34px;
    font-weight: 500;
}

.hero-description {
    font-family: 'Gotham Pro Light', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.18px;
    line-height: 1.4;
}

.flowers-slider {
    width: 100%;
    margin: 87px 0 83px;
}

:root {
    --swiper-navigation-size: 20px;
    --swiper-theme-color: #ffffff;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    --swiper-theme-color: #ff2e55;
}

.hero-cta {
    font-family: 'Gotham Pro Light', sans-serif;
    display: block;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.bold-text {
    font-family: 'Gotham Pro Medium', sans-serif;
}

.button {
    display: inline-block;
    font-family: 'Gotham Pro Medium', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #ff2e55;
    padding: 30px 65px 26px;
    margin-top: 36px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* reviews */

.reviews {
    padding: 50px 0;
}

.reviews-slider {
    margin-top: 98px;
}

.review-slide {
    padding-left: 90px;
}

.section-title {
    font-family: 'Gotham Pro Medium', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.3px;
}

.review-img {
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    font-family: 'Gotham Pro Light', sans-serif;
    font-size: 20px;
    position: relative;
    margin-right: 52px;
}

.review-img:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.review-img>* {
    position: relative;
}

.review-image-1 {
    background: #000 url('../img/review-image-1.jpg');
}

.review-image-2 {
    background: #000 url('../img/review-image-2.jpg');
}

.review-name {
    margin-bottom: 7px;
}

.review-text {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.18px;
    max-width: 486px;
}

.review-link {
    color: #f24841;
}

/* advantages */

.advantages {
    text-align: center;
    padding: 50px 0 100px;
    border-bottom: 1px solid #4c4c4c;
}

.advanteges-wrapper {
    min-height: 85px;
    margin-bottom: 30px;
}

.advantages-title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.4;
    max-width: 270px;
    margin: auto;
}

.reviews-slider>.swiper-button-prev, .reviews-slider>.swiper-button-next {
    --swiper-navigation-size: 40px;
    --swiper-theme-color: #ff2e55;
}

/* goods */

.goods {
    padding: 100px 0;
}

.section-description {
    font-size: 18px;
    text-align: center;
}

.card {
    text-align: center;
    border: 3px solid white;
    padding: 33px 35px 30px 35px;
    margin-top: 27px;
}

.card-title {
    margin-top: 23px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.card-label {
    font-size: 14px;
    display: inline-block;
    margin: 20px 0 7px;
}

.color-label {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.color-input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -9;
}

.color-label.white {
    background-color: #fff;
}

.color-label.biege {
    background-color: #f7b496;
}

.color-label.pink {
    background-color: #ed366e;
}

.color-label.red {
    background-color: #ff0000;
}

.color-label.blue {
    background-color: #12129d;
}

.counter-input {
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: #292929;
    margin: 0 15px;
}

.counter-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: #292929;
    border: none;
}

.card-button {
    font-size: 14px;
    width: 100%;
    padding: 16px 10px 13px;
}

.more {
    font-size: 14px;
    color: #f24841;
    display: block;
    text-align: center;
    margin-bottom: 39px;
    padding: 10px;
}

.more:after {
    display: inline-block;
    content: '';
    width: 10px;
    height: 4px;
    background: url('../img/caret.svg') no-repeat center;
    margin-left: 14px;
    vertical-align: middle;
}

/* offer */

.offer {
    padding: 100px 0;
    background-color: #1a1a1a;
    text-align: center;
}

.offer-link {
    text-transform: uppercase;
    color: white;
    display: block;
    font-size: 30px;
    margin-bottom: 65px;
}

.offer-label {
    margin-bottom: 22px;
    font-size: 14px;
    display: block;
}

.offer-phone {
    text-decoration: none;
    color: white;
    font-size: 36px;
}

/* footer */

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 33px;
}

.footer-menu-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.footer-menu-item {
    margin-right: 30px;
}

.social {
    font-size: 16px;
}

.footer-label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
}

.footer-info {
    text-align: right;
}

.footer-phone {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 12px;
}

.footer-data {
    background-color: white;
}

/* footer-data */

.footer-data {
    padding-top: 50px;
    padding-bottom: 45px;
}

.footer-data-description {
    font-family: 'Gotham Pro Light', sans-serif;
    letter-spacing: 0.12px;
    font-size: 12px;
    color: #292929;
}

.text-color-red {
    font-family: 'Gotham Pro Medium', sans-serif;
    color: #ff3469;
}

.footer-data-info {
    font-size: 12px;
    margin-top: 7px;
    display: block;
    text-align: right;
    color: #292929;
}

.footer-data-link {
    text-decoration: none;
    color: #292929;
}